*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#0B0F19;
  color:#fff;
}

.container{
  max-width:1100px;
  margin:auto;
  padding:0 20px;
}

nav{
  background:#0B0F19;
  padding:18px 0;
  border-bottom:1px solid #1f2937;
}

.nav-inner{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

.logo{
  font-weight:800;
  font-size:20px;
  color:#E10600;
}

.menu{
  display:flex;
  gap:25px;
}

.menu a{
  color:#aaa;
  text-decoration:none;
  font-weight:500;
}

.menu a:hover{
  color:#E10600;
}

.hero{
  padding:140px 0;
  background:linear-gradient(to right,#000000d9,#000000d9),
  url('../images/hero.jpg') center/cover;
  text-align:left;
}

.hero h1{
  font-size:48px;
  margin-bottom:20px;
}

.hero p{
  margin-bottom:20px;
  color:#ccc;
  max-width:500px;
}

.btn{
  display:inline-block;
  padding:12px 25px;
  background:#E10600;
  color:#fff;
  text-decoration:none;
  border-radius:6px;
  font-weight:600;
}

section{
  padding:80px 0;
}

.section-title{
  text-align:center;
  margin-bottom:40px;
  font-size:30px;
}

.cards{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:25px;
}

.card{
  background:#141A29;
  padding:30px;
  border-radius:10px;
  border:1px solid #1f2937;
  transition:0.3s;
}

.card:hover{
  transform:translateY(-5px);
  border-color:#E10600;
}

footer{
  background:#111;
  padding:40px 0;
  text-align:center;
  color:#777;
}

.whatsapp-float{
  position:fixed;
  bottom:20px;
  right:20px;
  background:#25D366;
  color:#fff;
  width:55px;
  height:55px;
  border-radius:50%;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:26px;
  text-decoration:none;
}

/* Mobile */
@media(max-width:768px){
  .hero h1{
    font-size:32px;
  }
}
